*{
    margin: 0;
    padding: 0;
}
:root{
    --theme-color: #fff;
    --primary-color: rgb(246, 100, 10);;
    --secundary-color: rgb(243, 179, 3);
    --text-color-inverse: black;
    --navbar-shadow-color: green;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,10,5,0.80), rgba(91, 212, 236, 0.8)), url(/images/back4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

h1{
	position: relative;
	left: 50%;
	transform: translate(-20%,-20%);
	color: #f6640a;}
	

.cabecera{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}
.siglas {
    font-size: 70px;
    color: var(--primary-color);
}
.nomEmpresa{
    font-size: 20px;
    color: var(--secundary-color);
}


#menu {
	color: #FFF;
	height: 50px;
	padding-left: 18px;
    position: relative;
    top: 70px;
}
#menu ul, #menu li {
	margin: 0 auto;
	list-style: none
}

#menu li {
	float: right;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 15px;
	padding: 0 14px;
	text-decoration: none;
	color:var(--secundary-color);
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #12989b;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
#menu li a:hover::before {
    width: 100%;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 50px;
	text-align: center;
	position:relative;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

main{
    display: flex;
    gap:60px;
	margin: 20px;
}

.retro-search{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
}
.retro-search h3,.retro-div h2{
	
    color: #f6640a;
}

.retro-search input{
	border-radius: 10px;
	height: 25px;
	width: 180px;
}

.retro-search button{
	height: 30px;
    width: 100px;
    border-radius: 15px;
    border: transparent;
    color: #f6640a;
}


.formulario {
    padding-left: 20PX;
    padding-top: 20px;
    display: flex;
    gap: 60px;
    margin-left: 20px;
	margin-top: 100px;
}
.formulario .form-info .label-info{
	color: white;
}

.formulario label{
    color: #f7b731;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.form-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.retro-div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 400px;
	gap: 20px;
}

.retro-div-button{
	height: 80px;
    width: 100px;
    border-radius: 15px;
    border: transparent;
    color: #f6640a;
}

.retroalimentacion{
	background-color: white;
	height: 90%;
	width: 100%;
	padding: 12px;
	border-radius: 15px;
}

.puntuacion{
	background-color: rgb(22, 206, 219);
	display: flex;
	gap: 8px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	padding: 8px;
	border-radius: 15px;
}
.puntuacion h2{
	color: #f6640a;
}

.puntuacion button{
	height: 50px;
    width: 100px;
    border-radius: 15px;
    border: transparent;
    color: #f6640a;
}

.puntuacion input{
	border-radius: 10px;
	height: 40px;
	width: 160px;
	border: transparent;
}

.reg-pic{
	margin:0 50px;   
	height: 250px;
	width: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	top:50px;
   
   }
   
   .reg-pic figure img{
	   height: 100%;
	   width: 100%;
   }

@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}